<?xml version="1.0" encoding="UTF-8"?>
<configuration
    xmlns="http://ch.qos.logback/xml/ns/logback"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://ch.qos.logback/xml/ns/logback https://raw.githubusercontent.com/enricopulatzo/logback-XSD/master/src/main/xsd/logback.xsd">


<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
	<encoder>
	    <pattern>%d{HH:mm:ss,SSS} %marker%5p - %-100m           %d{ISO8601} [%25t] (%35c | %35F:%-5L\) [%mdc] %5p%n</pattern>
	</encoder>  
</appender>

<appender name="APPINS-FILTER"
	class="ch.qos.logback.core.FileAppender">
	<file>appins-filter.log</file>
	<append>false</append>
	<!-- set immediateFlush to false for much higher logging throughput -->
	<!-- <immediateFlush>true</immediateFlush> -->
	<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder 
		by default -->
	<encoder>
		<pattern>%d{HH:mm:ss.SSS} %marker%5p - %-100m           %d{ISO8601} [%25t] (%35c | %35F:%-5L\) [%mdc] %5p%n</pattern>
	</encoder>
</appender>


<appender name="FILE" class="ch.qos.logback.core.FileAppender">
	<file>testFile.log</file>
	<append>false</append>
	<!-- set immediateFlush to false for much higher logging throughput -->
<!-- 	<immediateFlush>true</immediateFlush> -->
	<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder 
		by default -->
	<encoder>
		<pattern>%d{HH:mm:ss,SSS} %marker%5p - %-100m           %d{ISO8601} [%25t] (%35c | %35F:%-5L\) [%mdc] %5p%n</pattern>
	</encoder>
</appender>

<appender name="aiAppender"
	class="com.gethangry.sergey.insight.HangryApplicationInsightsAppender">
</appender>


<logger name="com.gethangry.sergey.testwebapp.CustomAppInsightsProcessor" level="info" additivity="false">
	<appender-ref ref="APPINS-FILTER"/>
</logger>

<root level="trace">
  <appender-ref ref="aiAppender" />
  <appender-ref ref="STDOUT" />
  <appender-ref ref="FILE" />
</root>

</configuration>